@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

.container {
  width: 100%;
  background-color: #20222b;
  margin: auto;
}

.titleContainer {
  width: 100%;
  border-bottom: solid 1px #CCCCCC;
  color: #fff;
  padding-top: 5vh;
  padding-bottom: 2vh;
  margin-bottom: 10vh;
}

.mainTitle {
  width: 60%;
  margin: auto;
  text-align: center;
  color: #28df99;
}

/* Gallery container */
#galleryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
  grid-gap: 15px;
  margin: auto;
  border: none;
  width: 95%;
}

/* Gallery item */
.galleryItem {
  position: relative;
  overflow: hidden;
}

/* Image */
.galleryItem img {
  width: 100%;
  height: 350px; /* Set a fixed height for all images */
  object-fit: cover; /* Prevents stretching of images */
}

/* Caption */
.galleryItem .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

/* Caption hover effect */
.galleryItem:hover .caption {
  transform: translateY(0);
}

/* Caption title */
.galleryItem h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
}

/* Caption description */
.caption {
  margin: 0;
  font-size: 0.9rem;
}